@import './base.css';

#app {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.option {
  text-align: center;
  vertical-align: middle;
}

.option-sticky {
  position: sticky;
  top: 80px;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.icon {
  font-size: 30px;
}

.icon-blank {
  color: #cccccc;
}

.icon-ready {
  color: #888888;
}

.icon-result1 {
  font-size: 20px;
  color: black;
}

.icon-result2 {
  font-size: 20px;
  color: black;
}

.icon-result-success {
  font-size: 30px;
  color: red;
}

.icon1 {
  color: rgb(205, 205, 205);
}

.icon2 {
  color: black;
}

.icon3 {
  color: green;
}

.icon4 {
  color: #c9c905;
}

.icon5 {
  color: red;
}

.icon6 {
  color: orange;
}

.icon7 {
  color: blue;
}

.icon8 {
  color: purple;
}

@media (max-width: 400px) {
  .icon {
    font-size: 25px;
  }
}

.tool {
  background-color: #d5d6f4;
}